@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jaro:opsz@6..72&display=swap');


:root{
    --primario: #23333B;
    --segundario: #ebe0d6;
    --terciario: #c5ac8e;
    --cuaternario: #fff;
}

*{
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
}

img{
    max-width: 100%;
}

input, select{
    outline: none;
}

a{
    text-decoration: none;
}

body{
    background: var(--primario);
}

::-webkit-scrollbar{
    width: 7px;
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb{
    border-radius: 1000px;
    background: var(--segundario);
}

.principal{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #23333b, #23333bb4, #ebe0d69a, #c5ac8e94, #5d513e93) ,url("../Img/espacio-galaxia.webp") center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tex{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 80%;
    background: #00000093;
    transform: translate(-50%, -50%);
}

.tex h1{
    color: white;
    font-family: "Jaro", sans-serif;
    font-weight: 100;
    font-size: 7em;
    text-align: center;
}

.nav{   
    max-width: 100%;
    width: 100%;
    height: 50px;
    z-index: 2;
    background: #00000093;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav .logo{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    margin-left: 10px;
}

.nav .compu{
    margin-right: 60px;
}

.nav #bar_open{
    display: none;
    /* font-size: 1.5em;
    position: absolute;
    color: #fff;
    right: 5%;
    width: 30px;
    cursor: pointer; */
}

.nav .icons{
    flex: none;
    font-size: 1.5em;
    position: absolute;
    color: #fff;
    right: 50px;
    width: auto;
    cursor: pointer;
}

.nav .compu a{
    text-decoration: none;
    margin: 10px;
    font-size: 1em;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.bar{
    display: none;
    max-width: 100%;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: 3;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
}

.close{
    position: absolute;
    top: 0.5%;
    color: red;
    left: 1.5%;
    font-size: 1.5em;
}

.bar a{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-left: 1px solid #fff;
    text-align: center;
    border-right: 1px solid #fff;
    color: white;
    background: #202020;
    line-height: 30px;
}

.about, .Precios{
    padding: 0.1px;
}

h2{
    color: var(--segundario);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 3em;
    font-weight: bold;
}
h2 > span{
    color: var(--terciario);
}

.contenedor_sn{
    max-width: 90%;
    background: #131c20;
    margin: 0 auto;
    width: 900px;
}

.contenedor_sn img{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.contenedor_sn p{
    padding: 10px;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    color: var(--cuaternario);
}

.cartas{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 30px;
    place-content: center; 
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se envuelvan cuando no quepan en una sola fila */
}

.plan{
    overflow: hidden;
    position: relative;
    text-align: center;
    max-width: 90%;
    border-radius: 15px;
    background: #000;
    border: 3px solid #222222;
    margin: 5px; /* Ajusta el margen entre las cartas */
}

.plan h3{
    color: var(--cuaternario);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #222222;
    padding-bottom: 10px;
}

.plan li{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    font-size: 1em;
    color: #fff;
}

.plan img{
    z-index: -1;
    width: 100%;
    height: 180px;
}

.plan:hover img{
    scale: 120%;
}

.plan figure{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.plan p{
    width: 95%;
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid rgb(34, 34, 34);
    padding-bottom: 10px;
}

.plan p > span{
    color: #ffe4c3;
    font-weight: 900;
}

.plan button{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 35px;
    background: #a300a3;
    border: none;
    color: var(--cuaternario);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    border-radius: 5px;
}

.plan.p2 .precio{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    z-index: 5;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    background: rgb(0, 0, 0);
}

.plan .precio{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    font-size: 1em;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    background: rgb(0, 0, 0);
}

.p1{
    pointer-events: all;
    z-index: 1;
    /* transform: translate(60px, 30px); */
    width: 300px;
    height: 550px;
    opacity: 100%;
}

.p2{
    z-index: 2;
    width: 300px;
    height: 600px;
    opacity: 100%;
}


.p3{
    z-index: 1;
    /* transform: translate(-60px, 30px); */
    width: 300px;
    height: 550px;
    opacity: 100%;
}

.puntos{
    margin-top: 20px;
}

/* Añade un media query para cambiar a flex-direction: column cuando el ancho de la pantalla sea menor */
@media screen and (max-width: 878px) {
    .nav #bar_open{
        display: inline;
    }
    .compu {
        display: none;
    }
    .cartas{
        max-width: 100%;
        width: 1000px;
        margin: 0 auto;
        gap: 10px;
        margin-bottom: 30px;
        place-content: center; 
        display: flex;
        flex-wrap: wrap; /* Para que los elementos se envuelvan cuando no quepan en una sola fila */
    }
    
    .plan{
        overflow: hidden;
        position: relative;
        text-align: center;
        max-width: 90%;
        border-radius: 15px;
        background: #000;
        border: 3px solid #131c20;
        margin: 5px; /* Ajusta el margen entre las cartas */
    }
    .p1{
        pointer-events: all;
        z-index: 1;
        transform: translate(0px);
        width: 300px;
        height: 600px;
        opacity: 100%;
    }
    
    .p2{
        z-index: 2;
        width: 300px;
        height: 600px;
        opacity: 100%;
    }
    
    
    .p3{
        z-index: 1;
        transform: translate(0px);
        width: 300px;
        height: 600px;
        opacity: 100%;
    }
}

/* Añade un media query para cambiar a flex-direction: column cuando el ancho de la pantalla sea menor */
@media screen and (max-width: 768px) {
    .cartas {
        flex-direction: column;
        align-items: center; /* Centra las cartas en el eje horizontal */
    }
    .tex h1{
        color: white;
        font-family: "Jaro", sans-serif;
        font-weight: 100;
        font-size: 5em;
        text-align: center;
    }
}


@media screen and (max-width: 436px) {
    .cartas {
        flex-direction: column;
        align-items: center; /* Centra las cartas en el eje horizontal */
    }
    .tex h1{
        color: white;
        font-family: "Jaro", sans-serif;
        font-weight: 100;
        font-size: 3em;
        text-align: center;
    }
    .contenedor_sn img{
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
}

