*{
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
}

img{
    max-width: 100%;
}

input, select{
    outline: none;
}

a{
    text-decoration: none;
}

body{
    background: #000;
}


.main{
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    position: relative;
    display: flex;
    place-items: center;
    text-align: center;
}


#img_portada{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.perfil{
    cursor: ew-resize;
    position: relative;
    width: 500px;
    height: auto;
    padding-bottom: 80px;
    background: #1d1d1d;
    margin: 0 auto;
    float: left;
    border-right: #fff solid 1px;
    border-left: #fff solid 1px;
    z-index: 2;
}

.activo{
    margin: none;
    float: left;
}

.informacion{
    display: none;
    border-left: #fff solid 1px;
    background: #1d1d1d;
    width: 480px;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translate(0%, -50%);
}

.perfil img{
    pointer-events: none;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 300px;
    border-radius: 1000px;
    height: 300px;
}

.perfil button{
    padding: 10px;
    background: #000;
    border: none;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid red;
    cursor: pointer;
}

.perfil img::selection {
    pointer-events: none;
}

.perfil h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-weight: 1;
    font-size: 2em;
    text-align: center;
}

.perfil span{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.perfil a{
    padding: 10px;
    background: #000;
    border: none;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid lime;
    cursor: pointer;
}

.informacion label{
    margin-left: 5px;
    color: white;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-top: 10px;
}

.informacion input{
    margin: 0 auto;
    width: 95%;
    line-height: 30px;
    font-size: 1em;
    display: block;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    color: lime;
    border: 0.1px solid lime;
    font-family: 'Courier New', Courier, monospace;
    background: #000;
}

.informacion select{
    margin: 0 auto;
    width: 97%;
    height: 30px;
    font-size: 1em;
    display: block;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    color: lime;
    border: 0.1px solid lime;
    font-family: 'Courier New', Courier, monospace;
    background: #000;
    text-align: center;
}

.informacion .divisor{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.informacion h2{
    display: inline-block;
    font-size: 1.3em;
    color: white;
    font-weight: 1;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.informacion .divisor::before{
    content: "";
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: absolute;
    bottom: -10px;
}

.informacion i{
    display: inline-block;
    color: #ffffff;
    font-size: 0.8em;
    position: relative;
}


.divisor:hover .question{
    display: block;
}

.question {
    cursor: alias;
    display: none;
    position: absolute;
    z-index: 2;
    top: -5px;
    left: 0;
    width: 200px;
    padding: 10px;
    height: auto;
    font-weight: 1;
    background: #000000;
    border: 1px solid #fff;
}

/*https://www.youtube.com/watch?v=lzF1gskuGFc*/
.question h2{
    text-align: left;
    font-weight: 1;
    color: red;
    font-size: 1.5em;
}

.question p{
    font-size: 0.8em;
    line-height: 20px;
}