*{
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
}

input, select{
    outline: none;
}

a{
    text-decoration: none;
}

body{
    background: #000;
}

.cartas{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    gap: 5px;
    height: auto;
    place-content: center; 
    place-items: center;
    display: flex;
    flex-wrap: wrap;
}

/* :root{
    --premiun: #ffae00;
    --pre: #ff0000;
    --es: #cc00ff;
} */

.carta{
    overflow: hidden;
    border-radius: 10px;
    display: block;
    background: #222222;
    width: 300px;
    height: auto;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    margin: 5px;
    border: 2px solid var(--carta);
}

.carta:hover img{
    scale: 120%;
}

img{
    max-width: 100%;
}

.carta .img{
    /* object-fit: fill; */
    max-width: 100%;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.carta .img img{
    /* object-fit: fill; */
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.carta h2{
    text-align: center;
    color: var(--carta);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    font-size: 1.5em;
}


.carta label{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}



.carta select{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 0.8em;
    background: none;
    display: block;
    width: 95%;
    height: 30px;
    margin: 0 auto;
    color: var(--carta);
    border: 1px solid var(--carta);
}

.carta input{
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 0.8em;
    background: none;
    display: block;
    width: 95%;
    height: 30px;
    margin: 0 auto;
    color: var(--carta);
    border: 1px solid var(--carta);
}

.carta button{
    border: none;
    outline: none;
    display: block;
    width: 98%;
    margin: 0 auto;
    background: none;
    color: aqua;
    margin-bottom: 10px;
}

option{
    background: #000;
}

#Subir_archis{
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgb(49, 49, 49);
    color: white;
    text-align: center;
}

.Pgx{
    display: none;
    max-width: 95%;
    z-index: 21;
}

#PDE{
    display: none;
}

.Pgx .close{
    position: absolute;
    font-size: 1.5em;
    top: 5px;
    right: 5px;
    color: red;

}

.carta #enviar{
    margin-top: 20px;
    width: 95%;
    line-height: 30px;
    color: #000;
    background: var(--carta);
}

#PDE span {
    display: none;
    width: 95%;
    margin: 0 auto;
    margin-left: 10px;
    color: #ff0000;
}

.cargador-archivos{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    background: #fff;
}

#Subir_archis h2{
    font-size: 1.5em;
}

#Subir_archis p{
    color: #4d4dff;
    font-weight: 900;
}

.cargador-archivos .btn_slc{
    font-family: 'Courier New', Courier, monospace;
    width: 95%;
    line-height: 35px;
    background: #fff;
    border: 1px solid #000;
    font-size: 1em;
    display: block;
    margin-bottom: 10px;
}

.cargador-archivos input{
    line-height: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.cargador-archivos .cargar{
    margin-top: 10px;
    width: 80%;
    line-height: 35px;
    font-family: 'Courier New', Courier, monospace;
    background: none;
    border: 1px solid #000;
}

.carta-img{
    /* place-content: center; */
    color: #fff;
    /* color: #000; */
    border: 1px solid #ccc;
    width: 200px;
    /* height: auto; */
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;  
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
}

.carta-img img{
    width: 100%;
    height: 200px;
}

.fileNameElement{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
}

#archivos{
    padding-top: 10px;
    /* display: block; */
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 300px;
    height: 100vh;
    background: #fff;
    text-align: center;
}


@media screen and (max-width: 480px) {
    .carta-img {
        width: 98%;
    }
}